.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  padding-bottom: 2em;
}

.chat-window {
  width: 100%;
  height: 50%;
}

.message {
  margin: 15px 0;
}

.message div:nth-child(1) {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message div:nth-child(2) {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
}